<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiecl.myShop.web.admin.dao.TbUserDao">
    <sql id="tbuserColumn">
          tbuser.id,
          tbuser.username,
          tbuser.password,
          tbuser.phone,
          tbuser.email,
          tbuser.created,
          tbuser.updated
    </sql>
    <select id="selectAll" resultType="TbUser">
        SELECT
          <include refid="tbuserColumn"></include>
        FROM tb_user AS tbuser
    </select>
    <select id="selectByid" resultType="TbUser">
        SELECT
        <include refid="tbuserColumn"></include>
        FROM tb_user AS tbuser
        WHERE tbuser.id=#{id}
    </select>
    <select id="selectUserByEmaill" resultType="TbUser">
        SELECT
        <include refid="tbuserColumn"></include>
        FROM tb_user AS tbuser
        WHERE tbuser.email=#{email}
    </select>
    <delete id="deleteUser">

        DELETE FROM tb_user
	    WHERE
	    id = #{id}
    </delete>
    <insert id="insertUser">

INSERT INTO `myshop`.`tb_user`
	(
	`username`,
	`password`,
	`phone`,
	`email`,
	`created`,
	`updated`
	)
	VALUES
	(
        #{username},
        #{password},
        #{phone},
        #{email},
        #{created},
        #{updated}
	)
    </insert>
    <update id="updateUser">
        UPDATE tb_user
            SET
            username = #{username},
            password= #{password},
            phone= #{phone},
            email= #{email},
            updated= #{updated}

        WHERE
           id = #{id}
    </update>

    <select id="selectLimit" resultType="TbUser" parameterType="java.util.Map">
        select
        <include refid="tbuserColumn"></include>
        FROM tb_user AS tbuser
        limit #{start},#{length}
    </select>

    <select id="serachLimit" resultType="TbUser" parameterType="java.util.Map">
        select
        <include refid="tbuserColumn"></include>
        FROM tb_user AS tbuser
        WHERE username LIKE CONCAT('%',#{serachValue},'%')
        LIMIT #{start},#{length}
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        select count(tbuser.id)
        FROM tb_user AS tbuser
    </select>
</mapper>