/*
 * uxSelect1.0版本，样式表
 * edit by Mr.AndrewBlack 2016.03.02
 */
@-webkit-keyframes selectAnimate{
	from{left: 100%;}
	to{left: 0;}
}
@keyframes selectAnimate{
	from{left: 100%;}
	to{left: 0;}
}
.ux-selectWrap,.ux-selectWrap *{padding: 0; margin: 0;}
.ux-selectWrap{position: fixed; top:0; right: 0; bottom: 0; left: 0; z-index: 999; background: rgba(0,0,0,0.3);}
.ux-selectWrapInner{position: absolute; bottom: 0; width: 100%; background: #fff; animation: selectAnimate .3s linear 0s; -webkit-animation: selectAnimate .3s linear 0s;}
.ux-selectTitle{height: 40px; width: 100%; background: #f3f3f3;}
.ux-selectTitle a{padding: 0 20px; color: #006ace; display: inline-block; height: 40px; line-height: 40px; text-decoration: none;}
.ux-selectTitle a:first-child{float: left;}
.ux-selectTitle a:last-child{float: right;}
.ux-selectTitle:after{content: ""; display: block; clear: both;}
.ux-selectBox{height: 180px; width: 100%; overflow: hidden; position: relative;}
.ux-selectBox:before,.ux-selectBox:after{content: ""; display: block; position: absolute; right: 18.6%; left: 18.6%; top: 72px; pointer-events: none; -webkit-transform-origin: 50% 50%; -webkit-transform: scale(1); border-top: 1px solid #ccc;}
.ux-selectBox:after{top: 108px;}
@media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio: 1.5){
	.ux-selectBox:before,.ux-selectBox:after{left:-12.8%; right: -12.8%; -webkit-transform: scale(0.5);}
}
.ux-selectBox li{height: 36px; line-height: 36px; text-align: center; color: #999;}
li.js_selectItem{color: #000;}